<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p>
<%= form_with model:@book, local: true do |f| %>
  <p><%= f.text_field :title %></p>
  <p><%= f.text_area :body %></p>
  <p><%= f.submit '投稿' %></p>
<% end %>